:root{
    --main-color: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
}

body{
    background-color: var(--bg);
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background: #131313 ;
}
section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.header section{
    display: flex;
    align-items: center; /* eixo y */
    justify-content: space-between; /* eixo x */
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.navbar a{
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;

    padding-bottom: 0.4rem;
    border-bottom: 0.1rem solid transparent;

    transition: transform 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}

.navbar a:hover{
    color: var(--main-color);
    border-bottom-color: var(--main-color);
    transform: scale(1.10);
}


.icons{
    display: flex;
    align-items: center;
}

.icon-box{
    position: relative;
    width: 30px;
    height: 30px;
    margin: 1rem;
    cursor: pointer;
}

.icon-box img{
    position: absolute;
    inset: 0;
    width: 30px;
    height: 30px;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

/* estado inicial */
.icon-hover{
    opacity: 0;
}

.icon-box:hover .icon-normal{
    opacity: 0;
}

.icon-box:hover .icon-hover{
    opacity: 1;
    transform: scale(1.2);
}

.icons img:hover{
    transform: scale(1.2);
    color: var(--main-color);
}

.btn{
    display: inline-block; 
    background: var(--main-color);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 4px;
}

.home-container{
   background: url("images/home-img\ \(1\).jpg");
   height: 100vh;
   background-position: center;
   background-size: cover;
}

.content{
    max-width: 60rem;
}

.content h3{
    font-size: 6rem;
    color: #fff;
}

.content p{
    color: #fff;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}

.home-container section{
    display: flex;
    padding-top: 150px;
}